.topo {
  display: flex;
  flex-direction: row;
  padding-left: 300px;
  padding-top: 3px;
  padding-bottom: 3px;
  background-color: greenyellow;
}

.ui.input > input {
  display: block;
  margin: auto;
  border: 1px solid gray;
  width: 600px;
  height: 50px;
  border-radius: 1px;
}

.ui.labeled.button > .button {
  background-color: greenyellow;
}

.logo.item {
  order: 1;
}

.ui.input.item {
  order: 2;
  margin-left: 100px;
  margin-right: 100px;
}

.ui.labeled.button.item {
  order: 3;
  background-color: greenyellow;
}

.imgcontainer {
  display: flex;
  align-items: center;
  height: 200px;
  width: 100%;
}

.fotolivro {
  max-width: 100%;
  height: auto;
  display: block;
  max-width: 230px;
  max-height: 200px;
  width: auto;
  height: auto;
  margin: auto;
}

.cardlivro {
  height: 350px;
  margin: 10px 15px;
}

.container {
  display: flex;
  flex-direction: row;
}


