.topo {
  display: flex;
  height: 56px;
  padding-left: 300px;
  padding-top: 3px;
  padding-bottom: 3px;
  background-color: greenyellow;
}

.ui.input > input {
  display: block;
  margin: auto;
  border: 1px solid gray;
  width: 600px;
  height: 50px;
  border-radius: 1px;
}

.ui.labeled.button > .button {
  background-color: greenyellow;
}

.logo.item {
  order: 1;
}

img.item {
  cursor: pointer;
}

.ui.input.item {
  order: 2;
  margin-left: 100px;
  margin-right: 100px;
}

.btn.item {
  order: 3;
  background-color: greenyellow;
  color: black;
}

.imgcontainer {
  display: flex;
  align-items: center;
  height: 200px;
  width: 100%;
  padding-top: 15px;
}
.card-body{
  padding-top: 30px;
}

.fotolivro {
  max-width: 100%;
  height: auto;
  display: block;
  max-width: 230px;
  max-height: 200px;
  width: auto;
  height: auto;
  margin: auto;
}

.cardlivro {
  height: 350px;
  margin: 10px 15px;
}

.container {
  display: flex;
  flex-direction: row;
}

.titlecart {
  font-weight: 400;
  font-size: 28px;
  line-height: 36px;
  border-bottom: 1px solid #ddd;
}

.cartcontainer {
  padding-top: 14px;
  border-left-width: 18px;
  padding-left: 18px;
  padding-right: 18px;
  padding-bottom: 14px;
  width: 75%;
  display: block;
  margin: auto;
}

.itemincart {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr fit-content(20%);
  border-bottom: 1px solid #ddd;
  height: 150px;
  margin: 10px 0px;
  grid-template-areas: "";
}

.cartdiv {
  background-color: rgb(255, 255, 255);
  padding-top: 20px;
  padding-bottom: 15px;
  margin-bottom: 20px;
  padding-left: 30px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.textcart {
  font-size: 16px;
  font-weight: 700;
  color: rgb(66, 70, 77);
}

.containeritemimg {
  height: 200px;
  width: 200px;
}

.cartitemimg {
  max-width: 100%;
  max-width: 230px;
  max-height: 150px;
  width: auto;
  height: auto;
}

.arrows {
  cursor: pointer;
}
.butaopica {
  border: 0;
  background-color: transparent;
}

.butaopica svg {
  margin-right: 4px;
  font-size: 20px;
}

.total {
  font-size: 16px;
  font-weight: 700;
  color: rgb(66, 70, 77);
}

.divdototal {
  margin-left: 1028px;
}

.searchresult {
  position: absolute;
  top: 40px;
  left: 100px;
  width: calc(100% - 200px);
  padding-top: 10px;
  background: white;
  border: 1px solid black;
  width: calc(100% - 200px);
  border-top: 0;
}

.containerpai {
  display: flex;
  align-items: center;
  height: calc(100vh - 56px);
}

.inputcontainer {
  z-index: 2;
  position: relative;
}

.searchitem {
  width: 100%;

  list-style: none;
  padding: 4px 0px;
  padding-left: 10px;
}

.searchitem:hover {
  background-color: #deffab;
  cursor: pointer;
}

.searchitem:not(:last-child) {
  border-bottom: 1px solid black;
}

.statuscontainer {
  height: auto;
  padding: 30px 70px;
}

.productcontainer {
  display: flex;
  align-items: center;
  box-shadow: 0 10px 20px rgb(0 0 0 / 19%), 0 6px 6px rgb(0 0 0 / 23%);
  height: auto;
  margin-left: 30px;
  padding: 30px 0;
}

.productimgcontainer {
  height: 400px;
  width: 500px;
  margin-left: 29px;
}

.productimg {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

.infocontainer {
  align-self: flex-start;
}

